*{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    flex:300px 1fr 1fr;
    height: 90px;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 129, 204);
}

.form{
    margin: auto;
    width: 250px;
    margin-top: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.541);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

label{
    margin-left: 20px;
    margin-top:20px;
}

.input{
    margin-left: 20px;
    margin-bottom:10px;
    margin-top:10px;
    padding-right: 35px;
    padding-left: 2px;
    outline: none;
}
.login{
    margin-left: 65px;
    background-color: rgb(17, 129, 204);
    border-style:solid;
    border-width:0px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;    
}

.login:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    margin-left: 75px;
}
a1{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    margin-left: 82px;
    margin-top: 10px;
}
a1:hover{
    cursor: pointer;

}