@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: rgb(236, 236, 236);
    background-image: url(images/light\ blue.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    flex-direction: column;
    flex:300px 1fr 1fr;
    height: 90px;
    align-items: center;
    justify-content: center;
    background-color: #004c8c;
    color: white;
}

.form{
    margin: auto;
    width: 250px;
    margin-top: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.541);
    background-color: rgb(255, 255, 242);
    padding: 20px 20px;
    border-radius: 10px;
}

label{
    margin-left: 20px;
}

.input{
    margin-left: 20px;
    margin-bottom:10px;
    margin-top:5px;
    padding: 6px 35px 6px 6px;
    outline: none;
}
.login{
    margin-left: 65px;
    background-color: #004c8c;
    border-style:solid;
    border-width:0px;
    padding: 10px 40px 10px 40px;
    margin-bottom:5px; 
    margin-top: 5px;  
    color: white; 
    transition: 0.2s;
}

.login:hover{
    cursor: pointer;
    background-color: rgba(0, 76, 140, 0.9);
    transition: 0.2s;
}
.login:active {
    background-color: rgba(0, 76, 140, 0.7);
    transition: 0.2s;
}
a{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    margin-left: 75px;
}
a1{
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    margin-left: 82px;
    margin-top: 10px;
}
a1:hover{
    cursor: pointer;
}
.bottom-text {
    padding: 5px; 
}
 a{
    display: block;
    margin: 3px;
    margin-left: 25%;
    transition: 0.1s;
}
a:hover {
    color: #004c8c;
    transition: 0.2s;
}
a:active {
    color: rgba(0, 76, 140, 0.9);
    transition: 0.2s;
}