body {
    background-image: url('images/water33.jpg'); 
    background-size: cover;

}

header {
    background-color:  rgb(17, 129, 204);
    color: black;
    /*padding: 20px 0;*/
    text-align: center;
}

.logo{
    width: 30px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.signup-container {
    background: #ffffff98;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    color:black;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color:black;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline:none;

}

button {
    padding: 10px;
    background-color: #007bff;
    color:black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

.appear{
    display: none;
}