body {
    font-family: Arial, sans-serif;
    background-color: rgb(236, 236, 236);
    margin: 0;
    padding: 0;
    background-image: url(images/light\ blue.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color:  #004c8c;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.signup-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.541);
    width: 300px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 242);
}

label {
    margin-bottom: 5px;
    color: #555;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.signup-button {
    padding: 10px;
    background-color: #004c8c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.signup-button:hover {
    background-color: rgba(0, 76, 140, 0.9);
    transition: 0.2s;
}
.signup-button:active {
    background-color: rgba(0, 76, 140, 0.7);
    transition: 0.3s;
}
