*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    flex:300px 1fr 1fr;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(17, 129, 204);
    color: white;
}
.profileButton{
    background-color: rgb(17, 129, 204);
    border: none;

}

.logout{
    border: none;
    background-color: rgb(17, 129, 204);
}

.img1{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.sideBar{
    background-color: rgba(128, 133, 138, 0.9);
    width:250px;
    position: fixed;
    top: 80;
    bottom: 80;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}

.insideSideBar{
    background-color:rgb(128, 133, 138);
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: large;
    padding: 20px 20px;
    color: white;
    width: 80%;
    border-radius: 10px;
    
}

.insideSideBar:hover{
    cursor: pointer;
}

.bodyContain{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*flex-direction: row;*/
    row-gap: 50px;

}

.bodyContain1{
    background-color: rgb(128, 133, 138);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    margin-top: 70px;
    margin-left: 20px;
}

.bodyContain2{
    background-color:rgb(128, 133, 138);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    margin-top: 70px;
    margin-left: 20px;
}

.footer{
    display: flex;
    background-color: rgb(17, 129, 204);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top:565;
    align-items: center;
    justify-content: center;   
}

a{
    text-decoration: none;
    color:white;
    margin-bottom: 10px;
    width: 100%;
}