* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('water33.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.header{
    display: flex;
    flex-direction: column;
    flex:300px 1fr 1fr;
    height: 90px;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 129, 204);
    position: fixed;
    top: 0;
    left: 0;
    color: pink;
}


.container {
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-color: #007BFF; /* Blue border on focus */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF; /* Blue background */
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.error-message {
    color: #ffdddd;
    font-size: 0.9em;
    display: none; /* Hidden by default */
}
